@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lilita+One&family=Rubik+Doodle+Shadow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
}
#logo {
    font-family: "Lilita One", sans-serif;
}

#navbar .navLink.active {
    color: rgba(255, 255, 255, 0.566);
}